body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: Helvetica, sans-serif;
    font-size: 25px;
    color: #ff9933;
}

#container {
    width: 400px;
    height: 100%;
    margin: auto;
    opacity: 1;
    transition: opacity 0.3s;
}

#container.fadeout {
    opacity:0;
}

.btns {
    width: 400px;
    height: 400px;
    /*border: 1px solid black;*/
    position: absolute;
    top: 50%;
    margin-top: -200px;
}

button {
    outline: none;
    border: 2px solid #ff9933;
    width: 150px;
    height: 150px;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 30%;
    cursor: pointer;
    background-color: white;
    color: white;
    font-size: 18px;
}

button:hover {
    background-color: #ff9933;
}

#circleBtn {
    width: 160px;
    height: 160px;
    border-radius: 50%;
}
