body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: Helvetica, sans-serif;
    font-size: 25px;
    color: #ff9933;
}

#container {
    width: 600px;
    height: 100%;
    margin: auto;
    opacity: 1;
    /*border: 1px solid black;*/
    transition: opacity 0.3s;
}

#container.fadeout {
    opacity:0;
}

.btns {
    width: 600px;
    height: 400px;
    position: absolute;
    top: 50%;
    margin-top: -200px;
}

button {
    outline: none;
    border: 2px solid black;
    width: 150px;
    height: 150px;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 20%;
    cursor: pointer;
    background-color: white;
    color: white;
    font-size: 18px;
}

button:hover {
    background-color: black;
}

#btn1 {
    margin-left: 50px;
}
